*{
	margin: 0;
	padding: 0;
	overflow: hidden;
}
html,body{
	height: 100%;
}
.wrap{
	width: 100%;
	height: 100%;
	background: #ccc;
}
.innerbox{
	width: 30%;
	height: 30vw;
	background: #ff9900;
	float: left;
	margin: 1.5%;
}